* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 2em;
}

main {
  background-color: #F5F5F5;
  height: 90vh;
  width: 40%;
  margin: auto;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main h1 {
  font-size: 2.5rem;
}

main p{
  max-width: 400px;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2em;
  margin: 2em 0;
}

.roll-dice {
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  padding: 1em 2em;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}